:root{
  --primary: rgb(165, 81, 42);
  --primary-light: rgba(22, 94, 106, 0.5) ;
  --accent: green ;
  --control-border: rgb(90, 90, 90);
  width: 100vw;
}

.App {
  text-align: center;
}

.main-greeting{
  background: white;
  padding: .25rem;
  margin: 0;
}
body{
  background-image: url("./components/img/bg.gif") 0.5;
  background-size:cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-position:top;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


